html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit
  }

*:focus {
	outline: none;
}

.niceShadow {
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-o-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2)
}

	::-webkit-input-placeholder {
	  -webkit-transition: opacity 0.35s ease-in-out;
	  -moz-transition: opacity 0.35s ease-in-out;
	  -o-transition: opacity 0.35s ease-in-out;
	  transition: opacity 0.35s ease-in-out;
	}
	:focus::-webkit-input-placeholder {
	  opacity: 0;
	  /* color: transparent; */
	  -webkit-transition: opacity 0.35s ease-in-out;
	  -moz-transition: opacity 0.35s ease-in-out;
	  -o-transition: opacity 0.35s ease-in-out;
	  transition: opacity 0.35s ease-in-out;
	}::-moz-placeholder {
	  -webkit-transition: opacity 0.35s ease-in-out;
	  -moz-transition: opacity 0.35s ease-in-out;
	  -o-transition: opacity 0.35s ease-in-out;
	  transition: opacity 0.35s ease-in-out;
	}
	:focus::-moz-placeholder {
	  opacity: 0;
	  /* color: transparent; */
	  -webkit-transition: opacity 0.35s ease-in-out;
	  -moz-transition: opacity 0.35s ease-in-out;
	  -o-transition: opacity 0.35s ease-in-out;
	  transition: opacity 0.35s ease-in-out;
	}
	:-ms-input-placeholder {  
	  -webkit-transition: opacity 0.35s ease-in-out;
	  -moz-transition: opacity 0.35s ease-in-out;
	  -o-transition: opacity 0.35s ease-in-out;
	  transition: opacity 0.35s ease-in-out;
	}
	:focus:-ms-input-placeholder {  
	  opacity: 0;
	  /* color: transparent; */
	  -webkit-transition: opacity 0.35s ease-in-out;
	  -moz-transition: opacity 0.35s ease-in-out;
	  -o-transition: opacity 0.35s ease-in-out;
	  transition: opacity 0.35s ease-in-out;
	}
	:-moz-placeholder {
	  -webkit-transition: opacity 0.35s ease-in-out;
	  -moz-transition: opacity 0.35s ease-in-out;
	  -o-transition: opacity 0.35s ease-in-out;
	  transition: opacity 0.35s ease-in-out;
	}
	:focus:-moz-placeholder {
	  opacity: 0;
	  /* color: transparent; */
	  -webkit-transition: opacity 0.35s ease-in-out;
	  -moz-transition: opacity 0.35s ease-in-out;
	  -o-transition: opacity 0.35s ease-in-out;
	  transition: opacity 0.35s ease-in-out;
	}

body {
	text-align: center;
	/*padding: 50px 10px;*/
	background-color:#f2f2f2;
	font-family: "Helvetica Neue" , 'Helvetica', 'Ubuntu', sans-serif
}

.containers {
	
	background-color: #fff;
	margin: auto;
	max-width: 555px;
    border-radius: 4px;
    padding: 40px 60px;
	position: relative
}

.containers img {
	width: 135px;
	float: right;
	margin-top: -57px
}

.containers h2 {
	float: left;
	color: #333333;
    font-weight: 700;
    font-size: 30px;
	text-align: center
}

.containers h3 {
	text-align: center;
	clear: both;
	margin: 15px auto;
	color: #6f6f6f;
	width: 80%
}

.containers form input[type="text"],
.containers form input[type="email"],
.containers form input[type="password"] {
	width: 100%;
	padding: 6px 12px;
	background-color: #f2f2f2;
	margin: 15px 0;
	border: none;
	height: 44px;
    font-size: 16px;
    border-radius: 5px
}

a.forgot {
	font-size: 0.9em;
	color: red;
	display: block;
	text-align: right;
	text-decoration: none
}

.radio {
	width: 100%;
	margin-top: 20px;
	overflow: hidden;
	margin-bottom: 30px;
	text-align: center
}

.radio>div {
	float: left;
	width: 27.3%;
	margin:0 3%
}

.captcha {
	height: 74px;
	line-height: 74px;
    max-width: 300px;
	margin: auto;
	margin-bottom: 10px;
	background-color: #f2f2f2
}

.containers form input[type="submit"] {
	border-radius: 4px;
	background-color: #808080;
	color: #fff;
	border: none;
    padding: 5px 32px 7px;
    margin: 15px 0;
    width: 100%;
    font-size: 21px;
    cursor: pointer;
    line-height: 1.42857143
}

p {
	margin-top: 10px;
	font-size: 11px;
	text-align: center;
	font-weight: 400;
	color: #6f6f6f;
	line-height: 1.42857143;
	-webkit-font-smoothing: antialiased
}

p a {
	color: #e7412c;
	text-decoration: none
}

.oFHidden {
	overflow: hidden
}

.oFHidden .or {
	position: relative;
	margin: 5px
}

.oFHidden .or::before {
	content: "";
    position: absolute;
    height: 1px;
    width: 60%;
    top: 50%;
    right: 54%;
    background: #dbd9db
}

.oFHidden .or::after {
	content: "";
    position: absolute;
    height: 1px;
    width: 60%;
    top: 50%;
    left: 54%;
    background: #dbd9db
}

button.logIn {
	border-radius: 4px;
	background-color: #2f5587;
	color: #fff;
	border: none;
    padding: 5px 32px 7px;
    width: 100%;
    margin: 15px 0;
    font-size: 21px;
    cursor: pointer;
    line-height: 1.42857143
}

button i{
	margin-right: 10px;
	position: relative;
	top: 3px
}

button.createNewAcount {
	border-radius: 4px;
	background-color: #009cac;
	color: #eddab5;
	border: none;
    padding: 5px 32px 7px;
    width: 100%;
    margin: 15px 0;
    font-size: 21px;
    cursor: pointer;
    line-height: 1.42857143
}

a.resendCode {
	font-weight: 500;
	color: #009cac;
	display: block;
	margin-top: 20px;
	text-align: center;
	text-decoration: none
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 20px) and (max-width: 576px) {
	body {
		text-align: center;
		/*padding: 50px 10px 15px*/
	}
	.containers {
		width: 100%;
    	padding: 40px 15px 15px
	}

	.containers img, .containers h2 {
		float: none
	}

	button.createNewAcount, button.logIn {
		font-size: 19px
	}
}